//- home.pug
include ../partials/header.pug
include ../partials/menu.pug

div.container
	br
	br
	div.row
		div.col-4
			img.rounded.img-fluid(src="../../resources/img/helmet.jpg", alt="CU Boulder Football Helmet")
		div.col-8
			div.jumbotron
				h1.display-4 Welcome to CU Boulder's Football Home Page!
				p.lead If you are interested in learning about the best collegiate football team in the Rockies, then you've come to the right place.  Here you'll find the scores for the latest football season and the most up-to-date stats on our football players.  To find out more information about Ralphie and the Buff Football Team, head over a(href="https://cubuffs.com/") here
				hr
				p
				|  Source for Image:
				a(href="https://www.cubookstore.com/p-80451-colorado-buffaloes-mini-speed-football-helmet.aspx") CU Bookstore
				hr
				//- TODO: First Pug Update
				- if(color)
					p= color_msg
					body(style="background-color: #"+color)

				form(action="/home/pick_color", method="get")
					//- TODO: Second Pug Update
					- if(data)
						for item in data
							if(item.name)
								button.btn.btn-block(type="submit", name="color_selection", value= item.hex_value, style="background-color: #" + item.hex_value)= item.name
							else
								button.btn.btn-block(type="submit", name="color_selection", value= item.hex_value, style="background-color: #" + item.hex_value)= item.hex_value
				form(action="/home/pick_color", method="post")
					//- TODO: Third Pug Update
					div.form-group.row
						label.col-sm-2.col-form-label(for="color_hex") Color Hex Value:
						div.col-sm-10
							input.form-control#color_hex(type="text", name="color_hex", placeholder="Enter Hex Value", maxlength="6")
					div.form-group.row
						label.col-sm-2.col-form-label(for="color_name") Color Name:
						div.col-sm-10
							input.form-control#color_name(type="text", name="color_name", placeholder="Enter Color's Name")
					div.form-group.row
						label.col-sm-2.col-form-label(for="color_message") Color Message:
						div.col-sm-10
							input.form-control#color_message(type="text", name="color_message", placeholder="Enter the Color's Description")
					button.btn.btn-primary.btn-block(type="submit") Submit
include ../partials/footer.pug
